@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  @include flex(space-between, center);
  width: 100%;
  padding: 0.5rem 0 1.2rem 0;
  .form {
    flex: 1 1 auto;
    .input {
      width: 100%;
      padding: 0.8rem;
      border: 1px solid $mediumText;
      border-radius: 0.3rem;
    }
  }
  .icon {
    margin-left: 0.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
  .sortIcon {
    margin-right: 0.5rem;
    width: 1.9rem;
    border-radius: 0.3rem;
  }
}
