$bgColor: rgb(218, 228, 236);

$lightText: rgb(255, 255, 255);
$mediumText: rgb(81, 81, 81);
$darkText: rgb(41, 38, 38);
$defaultText: rgb(0, 0, 0);
$doneTaskText: rgb(211, 211, 211);
$dangerousText: rgb(160, 71, 71);

$popupWrapper: rgba(0, 0, 0, 0.5);
$buttonHoverColor: rgb(85, 67, 10);
$disableLink: rgb(216, 213, 213);

$toggleUnchecked: rgb(22, 21, 21);
$toggleChecked: rgb(31, 128, 98);
